<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
</head>

<body>
    <div class="container text-center">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <h1 class="text-center"> RECOMA : Las Veredas Community Manager!</h1>
    <br>
    <div class="container d-flex">
        <div class="container d-flex flex-column">
            <h1 class="text-center">Registration</h1>
            <form action="/register" method="post">

                <label class="form-label" for="first_name">First Name:</label>
                <input class="form-control" type="text" name="first_name">

                <label class="form-label" for="last_name">Last Name:</label>
                <input class="form-control" type="text" name="last_name">

                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="text" name="email">
                <br>
                <label class="form-label" for="house">Residence:</label>
                <select class="custom-select" name="house_id">
                    <option value="Select Your Residence">Select Your Residence</option>
                    {% for house in houses %}
                    <option value="{{house.id}}">{{house.number}}</option>
                    {% endfor %}
                </select>
                
                <br>
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="password">

                <label class="form-label" for="confirm_password">Confirm Password:</label>
                <input class="form-control" class="form-label" type="password" name="confirm_password">

                <br>

                <input type="hidden" name="about" value="I am a happy resident of Las Veredas in Bayamon, Puerto Rico!">

                <br>
                <input class="btn btn-primary" class="form-label" type="submit" value="Register">
            </form>
        </div>
        <div class="container d-flex flex-column">
            <h1 class="text-center">Login</h1>
            <form action="/login" method="post">

                <label class="form-label" for="email">Email:</label>
                <input class="form-control" type="text" name="email">

                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" name="password">

                <br>
                <input class="btn btn-success" class="form-label" type="submit" value="Login">
            </form>
        </div>
    </div>
</body>

</html>