<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{projects.name}}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1>{{projects.name}}</h1>
            <span>
                <a class="btn btn-success" href="/dashboard">Main Dashboard</a>
                <a class="btn btn-danger" href="/logout">Logout</a>
            </span>
        </div>
    </nav>
    <div class="container d-flex">
        <div class="container d-flex">
            <div class="container d-flex flex-column">
                <h2>Project Info:</h2>
                
                <p>Name: {{residents.first_name}} {{residents.last_name}}</p>

                <p>Description: {{projects.description}}</p>

                <!-- update database field to be added on edit -->
                <p>Submitted By: {{projects.resident.first_name}} {{projects.resident.last_name}}</p>

                <!-- update database field to be added on edit -->
                <p>Supported by {{projects.vote_count}} residents</p>

                <button class="btn btn-success"> <a href="/vote/{{projects.id}}"></a> Vote for this project!</button>
            </div>

        </div>
    </div>
</body>

</html>